<div class="body">
  <div class="container">
    <h2><%= @customer.last_name + @customer.first_name %>さんの会員情報編集</h2>

    <%= form_with(model: @customer, url: admin_customer_path(@customer)) do |f| %>
      <div class="field">
        <%= f.label :名前（性） %>
        <br>
        <%= f.text_field :last_name %>
      </div>

      <div class="field">
        <%= f.label :名前（名） %>
        <br>
        <%= f.text_field :first_name %>
      </div>

      <div class="field">
        <%= f.label :名前（セイ） %>
        <br>
        <%= f.text_field :last_name_kana %>
      </div>

      <div class="field">
        <%= f.label :名前（メイ） %>
        <br>
        <%= f.text_field :first_name_kana %>
      </div>

      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :郵便番号 %>
        <br>
        <%= f.text_field :postal_code %>
      </div>

      <div class="field">
        <%= f.label :住所 %>
        <br>
        <%= f.text_field :address %>
      </div>

      <div class="field">
        <%= f.label :電話番号 %>
        <br>
        <%= f.text_field :phone_number %>
      </div>

      <br>

      <div class="field">
        <%= f.label :有効 %><%= f.radio_button :is_delated, false %>
        <%= f.label :退会済み %><%= f.radio_button :is_delated, true %>
      </div>

      <br>

      <div class="actions">
        <%= f.submit '変更を保存する', class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
